body{
    overflow-x: hidden;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* nav section */

nav{
    padding-top: 3vh;
 position: fixed;
 top:0;
 background-color: rgb(252, 253, 252);
    width: 100%;
    z-index: 1000;
    display: flex;
    gap:5vw;
    font-family: sans-serif;
    padding-right: 5vw;
    color:rgb(109, 106, 106);
    padding-bottom: 3vh;
    box-shadow: 0px 0px 2px rgb(117, 117, 117);
}

nav .nav-image{
    display: flex;
    align-items: center;
    gap: 10px;
    flex: 1;
    justify-content: center;
    font-size: 1.3rem;
    font-weight: bolder;
    color:black;
    
}
nav svg{
    height: 40px;
    width: 40px;
    background: linear-gradient(rgb(61, 219, 61),rgb(11, 124, 11));
    object-fit: contain;
    color:white;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    border: none;
}
nav .nav-section{
    flex: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    
}
nav .nav-section p{
  position: relative;
  z-index: 1;
  transition: all ease 0.4s;
}
nav .nav-section p:hover{
    color: green;
}


nav .nav-section p::before{
position: absolute;
transition: all ease 0.4s;
content: " ";
z-index: -1;
width: 0%;
height: 130%;
border: none;
border-bottom: 2px solid green;
background-color: rgb(249, 250, 249);
}
nav .nav-section p:hover::before{
    width: 100%;
}

.anchor{
    display: none;
}


.mobile-nav{
    padding-top: 3vh;
    padding-left: 8vw;
    display: none;
    font-family: sans-serif;
    padding-right: 5vw;
    color:rgb(143, 135, 135);
    position: fixed;
    top:90px;
    background-color: white;
    z-index: 1000;
    width: 100vw;
    
}
.mobile-nav p{
    margin-bottom: 10px;
}
.mobile-nav {
  display: none;
}

.mobile-nav.open {
  display: block;
}


@media (max-width: 1024px) and (min-width: 768px) {
  nav .nav-image{
    justify-content: start;
    padding-left: 1vw;
  }  
}
@media (max-width:720px){
    .nav-section p{
        display: none;
    }

    .nav-section svg{
        display: block;
        margin-left: 65%;
    }
}


/*header */

.header{
    display: flex;
    padding-top: 15vh;
    flex-direction:column ;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
  
  background-position: center;
  background-size: cover;
  
}

.header::before{
position: absolute;
content: " ";
width: 100%;
height: 100%;
inset: 0;
 background: radial-gradient(
    circle at top left,
    #e4faf8cc,
    #b5e2f5,
    #d2deeb,
    #c5ebe4,transparent 40%
  );
  
z-index: -1;
opacity: 0.3;

}


.header::after{
position: absolute;
content: " ";
width: 100%;
height: 100%;
inset: 0;
 background: radial-gradient(
    circle at top left,
    #e4faf8cc ,
    #b5e2f5,
    #d2deeb,
    #c5ebe4
  );
  clip-path: circle(50% at bottom);
z-index: -1;
opacity: 0.1;
left:60%;



}


.overall{
    border: 2px solid green;
    display: flex;
    padding: 12px;
    color:rgba(21 ,128 ,61,0.9);
    background-color: rgba(127, 236, 167, 0.2);
    border-radius: 20px;
    border: none;
    width: fit-content;
    margin-bottom: 4vh;
}
.overall .vattam{
   height: 20px;
   width: 20px;
   margin-right: 10px;
   background-color:rgb(151, 233, 181);;
   clip-path: circle(25% at center);
  
}

.overall p{
    margin-right: 10px;
}

.h1{
   font-family:sans-serif;
    font-size: clamp(1.8rem, 5vw, 4rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    letter-spacing:3px ;
}

.h1 span{
    color:#22c55e;
}

.header h2{
 
  max-width: 600px;
  width: 100%;
  padding-inline: 1rem;
  color: rgb(114, 111, 111);
  font-weight: 100;
  font-size: clamp(1rem, 1.2vw, 1.125rem);
  line-height: 1.75rem;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 1vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.search-wrapper {
    width: 100%;
    padding: 40px 20px;
    
}


.search-container {
    box-shadow: 10px 0px 10px blue;
    display: flex;
    gap: 15px;
    align-items: center;
    background: #fff;
    padding: 15px;
    border-radius: 12px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0 10px 20px rgba(12, 212, 179, 0.08);
}

.search-input {
    flex: 1;
    padding: 12px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #ddd;
    width: 100%;
}

.search-btn {
    padding: 12px 25px;
    border: none;
    border-radius: 8px;
    background: #22c55e;
    color: white;
    font-size: 16px;
    cursor: pointer;
    white-space: nowrap;
}

.search-btn:hover {
    background: #16a34a;
}


.stats-container {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.stat-item {
    text-align: center;
}

.stat-item h2 {
    margin: 0;
    font-size: 32px;
    font-weight: bold;
}

.stat-item p {
    margin-top: 5px;
    color: gray;
    font-size: 14px;
}


@media (max-width: 768px) {

    .search-container {
        flex-direction: column;
        width: 100%;
    }

    .search-btn {
        width: 100%;
    }

    .stats-container {
        gap: 20px;
    }

    .stat-item {
        flex: 1;
    }

}



.featured-section {
    max-width: 1200px;
    margin: auto;
    padding: 40px 20px;
}

/* Header */
.featured-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

.featured-title {
    margin: 0;
    font-size: 28px;
}

.featured-sub {
    margin: 5px 0 0;
    color: gray;
}

.view-all {
    color: green;
    text-decoration: none;
    font-weight: 500;
}

/* Carousel */
.carousel-wrapper {
    overflow: hidden;
    width: 100%;
    height: calc(fit-content +100px);
    margin-bottom: 10vh;
    margin-top: 10vh;
}

.carousel-track {
    display: flex;
    gap: 20px;
    transition: transform 0.5s ease;
}


.job-card {
    min-width: calc((100% - 40px) / 3);
    background: white;
    padding: 20px;
    border-radius: 12px;
    transition: all 0.3s ease;
    width: fit-content;
    height: fit-content;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.job-card:hover{
   transform: translateY(-4%);
    box-shadow: 0px 10px 10px rgb(204, 196, 196);
}

.company {
    color: green;
}

.location {
    color: gray;
    font-size: 14px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.card-footer button {
    background: green;
    color: white;
    border: none;
    padding: 6px 14px;
    border-radius: 6px;
    cursor: pointer;
}


@media (max-width: 768px) {

    .featured-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
    }

    .job-card {
        min-width: 100%;
    }

}




.all-jobs-section {
    max-width: 1000px;
    margin: 40px auto;
    display: none;
}

.job-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 22px;
    margin-bottom: 15px;
    background: #fff;
    border-radius: 12px;
    border: 1px solid #eee;
}

.job-left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.job-icon {
    width: 45px;
    height: 45px;
    background: #e8f5e9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.job-right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.company {
    color: #16a34a;
    margin: 3px 0;
}

.location {
    color: #6b7280;
    font-size: 14px;
}

.salary {
    font-weight: 600;
}

.apply-btn {
    background: #16a34a;
    color: white;
    border: none;
    padding: 8px 18px;
    border-radius: 6px;
    cursor: pointer;
}

.apply-btn:hover {
    background: #15803d;
}




.why-section {
    background: #f8fcff;
    padding: 80px 20px;
    font-family: sans-serif;
    margin-top: 10vh;
    margin-bottom: 10vh;
}


.why-container {
    max-width: 1100px;
    margin: auto;
    text-align: center;
   
}


.why-title {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 10px;
}


.why-subtitle {
    color: #a7b2c2;
    max-width: 600px;
    margin: auto;
    margin-bottom: 50px;
}


.why-cards {
    display: flex;
    gap: 25px;
    justify-content: center;
}


.why-card {
    background: white;
    padding: 30px 25px;
    border-radius: 12px;
    text-align: left;
    width: 250px;
    border: 1px solid #e5e7eb;
    cursor: pointer;
    transition: all ease 0.4s;
    
}

.why-card:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 10px rgb(161, 156, 156);
}

.why-card:hover .why-icon{
    background-color: rgb(71, 241, 170);
}

.why-icon {
    width: 45px;
    height: 45px;
    background: #dcfce7;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    margin-bottom: 15px;
    transition: all ease 0.4s;
    background-color: rgb(143, 250, 187);
}
.why-icon:hover{
    box-shadow: 0px 0px 10px rgb(156, 22, 22);
}

.why-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
}


.why-card p {
    color: #64748b;
    font-size: 14px;
    line-height: 1.5;
}


@media (max-width: 768px) {

    .why-cards {
        flex-direction: column;
        align-items: center;
    }

    .why-card {
        width: 100%;
        max-width: 350px;
    }

}



.trusted-section {
    background: #ffffff;
    padding: 70px 20px;
    text-align: center;
    margin-bottom: 10vh;
}


.trusted-container {
    max-width: 1100px;
    margin: 0 auto;
    font-family: sans-serif;
}

.trusted-title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
    margin-bottom: 3vh;
}

.trusted-subtitle {
    font-size: 15px;
    color: #95a3b6;
    margin-bottom: 40px;
    margin-bottom: 10vh;
}


.company-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
}


.company-box {
    background: #f1f5f9;
    padding: 25px 0;
    border-radius: 12px;
    font-weight: 600;
    color: #97a6bb;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 1.3rem;
    
}


.company-box:hover {
    background: #e2e8f0;
    color: #7c8aaa;
}


@media (max-width: 768px) {

    .company-grid {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media (max-width: 480px) {

    .company-grid {
        grid-template-columns: 1fr;
    }

}
.how-section {
    background: #eef7f1;
    padding: 80px 20px;
}


.how-container {
    max-width: 1100px;
    margin: 0 auto;
    text-align: center;
   
}


.how-title {
    font-size: 2.3rem;
    font-weight: 700;
    color: #0f172a;
    margin-bottom: 10px;
    font-family: sans-serif;
   
}


.how-subtitle {
    color: #64748b;
    font-size: 15px;
    margin-bottom: 60px;
}


.steps-wrapper {
    position: relative;
}


.steps-wrapper::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 24%;
    width: 50%;
    height: 2px;
    background: linear-gradient(to left,rgb(142, 241, 142), rgb(59, 221, 59));
    box-shadow: 5px 5px 20px rgb(33, 231, 182);
    z-index: 0;

}

/* STEPS GRID */
.steps {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    position: relative;
    z-index: 1;
}


.step {
    flex: 1;
    text-align: center;
}


.step-number {
    width: 60px;
    height: 60px;
    background: #22c55e;
    color: white;
    font-weight: bold;
    font-size: 30px;
    border-radius: 12px;
    margin: 0 auto 15px auto;
font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
 margin-bottom: 6vh;

    box-shadow: 0 10px 20px rgba(113, 239, 243, 0.9);
}

/* STEP TITLE */
.step-title {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 8px;
    color: #0f172a;
    font-family: sans-serif;
    margin-bottom: 5vh;
}


.step-text {
    font-size: 17px;
    color: #64748b;
    max-width: 260px;
    margin: 0 auto;
    line-height: 3vh;
}



@media (max-width: 768px) {

    .steps {
        flex-direction: column;
        gap: 40px;
    }

    .steps-wrapper::before {
        display: none;
    }

}



.footer {
  background: #0f172a;
  color: #fff;
  padding: 60px 20px 20px;
  color: #5f73a0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  max-width: 1200px;
  margin: auto;
}

.footer-col {
  flex: 1;
}

.footer-col h3 {
  margin-bottom: 15px;
}

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 8px;
}


.footer-bottom {
  
  margin-top: 40px;
  border-top: 1px solid #1e293b;
  padding-top: 20px;
  width: 80vw;
  display: flex;
  justify-content: space-between;
}

@media (max-width:728px){
    .footer-bottom{
        margin: none;
        justify-content: space-around;
    }
}

.footer-bottom .icons img{
    height: 50px;
    margin-right: 10px;
    border-radius: 10px;
    object-fit: contain;
    width: 50px;
    min-width: 10px;
    min-height: 10px;
    background-color: #8d8e92;
    
}
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: left;
  }

  .footer-col {
    margin-bottom: 30px;
  }
}


.hero {
  background: linear-gradient(135deg, #23f06e, #16a34a);
  padding: 100px 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height:60vh;
  position: relative;
  overflow: hidden;
  z-index: 1;
  font-family: sans-serif;
  font-weight: bolder;
  padding-bottom: 10vh;

}

.hero::before{
position: absolute;
content: "";
inset: 0;
width: 50%;
height: 100%;
background-color: #06cf53;
border-radius: 50%;
transform: rotate(30deg);
top:-50%;
left:-30%;
z-index: -1;




}


.hero::after{
position: absolute;
content: "";
inset: 0;
width: 50%;
height: 100%;
background-color: #06cf53;
border-radius: 80%;
transform: rotate(30deg);
top:70%;
left:80%;
z-index: -1;




}

.hero-content {
  max-width: 700px;
  width: 100%;
}
.hero-content button{
   
    padding: 20px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: white;
  
}

@media (max-width:420px){
    .hero h1{
        font-size: 1.3rem;
    }
    .hero::after{
        left:20%;
    }
    .hero::before{
        left:-10%;
    }
}
.hero p {
  font-size: 18px;
  margin-bottom: 30px;
  color: #e2e8f0;
  line-height: 4vh;
  margin-bottom: 4vh;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap; /* Important for small screens */
}

.btn {
  padding: 12px 25px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  background-color: #16a34a;

}

.primary {
  background: white;
  color: #16a34a;
  
}


.secondary {
  background: transparent;
  border: 1px solid white;
  color: white;
  background-color: #16a34a;
  border: none;
  transition: all ease 0.4s;
  border: 0.5px solid white;
}

.secondary:hover{
    background-color: #15803d;
}

